@import 'variables';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 265px;
 overflow-y: hidden;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999999999999999;
  -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
}
.botonesPerfil{
  width: 108px;
  text-align: center;
  margin-bottom: 3px;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.botonesPerfil{
  width: 108px;
  text-align: center;
  margin-bottom: 3px;
}
.activa{
  background-color: $light-gray-color2;
}



.navbar {
  background: inherit;
  display: flex;

  .btn-toggle {
    z-index: 0;
    background-color: #ffffff;
    color: #555;
    margin-right: 2%;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -ms-transition: all 100ms linear;

    &:hover {
      -webkit-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      -moz-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
    }
  }

  .btn-nav {
    visibility: visible;
    color: #555;
  }
}











