<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
            Menu
        </mat-toolbar>
        <mat-nav-list>
            <mat-list>
                <h3 mat-subheader>Secciones</h3>
                <mat-list-item routerLink="/root/dashboard">
                    <mat-icon mat-list-icon>dashboard</mat-icon>
                    <h5 mat-line>Tablero principal</h5>
                </mat-list-item>
                <mat-list-item routerLink="/root/sucursales">
                    <mat-icon mat-list-icon>home_work</mat-icon>
                    <h5 mat-line>Sucursales</h5>
                </mat-list-item>
                <mat-list-item routerLink="/root/usuarios">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <h5 mat-line>Usuarios</h5>
                </mat-list-item>
            </mat-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Root</span>
            <span class="espaciador"></span>
            <button mat-icon-button color="primary" (click)="cerrarSesion()" style="color:#ffff"
                matTooltip="Cerrar sesion">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>