@import 'variables';


.sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  .opciones {
    background: inherit;
    display: grid;
    position: sticky;
    z-index: 2;
    top: 2%;
    left: 1%;
    width: 50px !important;

    button {
      background-color: #ffffff;
      color: #555;
      position: sticky;
      left: 1%;
      transition: all 100ms linear;
      -webkit-transition: all 100ms linear;
      -ms-transition: all 100ms linear;

      &:hover {
        -webkit-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
        -moz-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
        box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      }
    }


  }


}


.navbar {
  background: inherit;
  display: flex;

  .btn-toggle {
    z-index: 0;
    background-color: #ffffff;
    color: #555;
    margin-right: 2%;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -ms-transition: all 100ms linear;

    &:hover {
      -webkit-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      -moz-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
    }
  }

  .btn-nav {
    visibility: visible;
    color: #555;
  }
}

.botonesPerfil {
  width: 108px;
  text-align: center;
  margin-bottom: 3px;
}

.botonesPerfil {
  width: 108px;
  text-align: center;
  margin-bottom: 3px;
}

img {
  color: #ffffff;
  background-size: cover;
}
