<mat-sidenav-container class="sidenav-container" *ngIf="autenticacionService.estaAutenticado()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <h3 mat-subheader>Secciones</h3>
        <mat-list-item *ngFor="let pestana of pestanas; let i=index" (click)="activarPestana(i)"
          [ngClass]="{'activa':pestanasActivas[i] == true }" [routerLink]="pestana.ruta">
          <mat-icon mat-list-icon>{{pestana.icono}}</mat-icon>
          <h5 mat-line>{{pestana.nombre}}</h5>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Administrador</span>
      <span class="espaciador"></span>
      <button mat-icon-button routerLink="/admin/configuracion" color="primary" style="color:#ffff"
        matTooltip="Configuracion del sistema">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button routerLink="/admin/ayuda" color="primary" style="color:#ffff" matTooltip="Ayuda">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="cerrarSesion()" style="color:#ffff" matTooltip="Cerrar sesion">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>