<mat-card class="container mb-4">
    <mat-tab-group>
        <mat-tab label="Agregar">
            <ng-template matTabContent>
                <app-clientes-alta></app-clientes-alta>
            </ng-template>
        </mat-tab>
        <mat-tab label="Administrar">
            <ng-template matTabContent>
                <app-clientes-administrar></app-clientes-administrar>
            </ng-template>
        </mat-tab>
        <mat-tab label="Restaurar">
            <ng-template matTabContent>
                <app-clientes-restaurar></app-clientes-restaurar>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>