<app-cargando [cargando]="cargando.cargando" [texto]="cargando.texto"></app-cargando>
<mat-card class="container mb-4">
    <mat-tab-group>
        <mat-tab label="Agregar">
            <ng-template matTabContent>
                <app-clientes-alta (cargandoEventoHijos)="cargandoEv($event)"></app-clientes-alta>
            </ng-template>
        </mat-tab>
        <mat-tab label="Administrar">
            <ng-template matTabContent>
                <app-clientes-administrar (cargandoEvento)="cargandoEv($event)"></app-clientes-administrar>
            </ng-template>
        </mat-tab>
        <mat-tab label="Restaurar">
            <ng-template matTabContent>
                <app-clientes-restaurar (cargandoEventoHijos)="cargandoEv($event)"></app-clientes-restaurar>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>