<app-barra-cargando [cargando]="cargando"></app-barra-cargando>

<div class="container">
    <div class="row margin-top">
        <div class="col-lg-12 col-md-12">
            <mat-card class="full-width card h-100" style="padding: 0%;">
                <mat-toolbar color="primary" class="toolbar-header">
                    <span>Logotipo</span>
                </mat-toolbar>
                <div>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Escoge el logotipo de la empresa.</h6>
                                <hr>
                            </div>
                        </div>
                        <div class="row h-100 w-100 cargando" *ngIf="cargandoImagen" [@carga]="'in'">
                            <div class="col-lg-12 my-auto ">
                                <div class="w-50 h-50 mx-auto my-auto">
                                    <mat-spinner class="mx-auto "></mat-spinner>
                                    <h2 class="text-center">Cargando imagen...</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row h-50">
                            <div class="col-lg-12 h-100">
                                <form #logoForm="ngForm">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input style="display: none;" type="file" accept="image/*"
                                                    (change)="cambioArchivoEvento($event)" #imagen required/>
                                                <button mat-raised-button color="primary" (click)="imagen.click()">
                                                    <mat-icon>get_app</mat-icon>
                                                    Seleccionar imagen
                                                </button>
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-4">
                                            <div class="col-lg-4" @primerEstado *ngIf="logotipoActual != ''">
                                                <mat-toolbar class="mat-toolbar-cropper">
                                                    <span>Logotipo actual</span>
                                                </mat-toolbar>
                                                <hr>
                                                <img  [src]="logotipoActual" class="img-thumbnail" width="200px" height="150px" alt="Logotipo actual de la empresa" srcset="">
                                            </div>
                                            <div class="col-lg-4" @primerEstado>
                                                <mat-toolbar class="mat-toolbar-cropper" *ngIf="imagenLogoRecortada != ''">
                                                    <span>Recortar imagen</span>
                                                </mat-toolbar>
                                                <hr *ngIf="imagenLogoRecortada != ''">
                                                <image-cropper *ngIf="eventoCambioImagenLogotipo"
                                                    [imageChangedEvent]="eventoCambioImagenLogotipo"
                                                    [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="jpg"
                                                    (imageCropped)="imagenRecortada($event)"
                                                    (imageLoaded)="imagenCargada()" (cropperReady)="cortadorListo()"
                                                    (loadImageFailed)="cargarImagenFallida()">
                                                </image-cropper>
                                            </div>
                                            <div class="col-lg-4" @primerEstado *ngIf="imagenLogoRecortada != ''">
                                                <mat-toolbar class="mat-toolbar-cropper">
                                                    <span>Vista previa</span>
                                                    <span class="espaciador"></span>
                                                    <button mat-icon-button class="float-right" color="warn"
                                                        (click)="eliminarImagen()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </mat-toolbar>
                                                <hr>
                                                <img class="text-center" [src]="imagenLogoRecortada"
                                                    class="img-thumbnail" width="200px" height="150px"
                                                    alt="Logotipo nuevo de la empresa">
                                            </div>
                                        </div>
                                        <div class="row mt-4 mb-4">
                                            <div class="col-lg-12">
                                                <button mat-raised-button color="primary"
                                                    class="float-right" [disabled]="!imagenValida()" (click)="guardarImagen()">Guardar imagen</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-md-12">
            <mat-card class="full-width card" style="padding: 0%;">
                <mat-toolbar color="primary" class="toolbar-header">
                    <span>Notificaciones</span>
                </mat-toolbar>
                <form #datosForm="ngForm">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Escoge las opciones con las cuales se mostraran las notificaciones.</h6>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <mat-checkbox [(ngModel)]="configuracion.notificaciones.botonCerrar" name="botonCerrar"
                                    #botonCerrar="ngModel">Boton de cerrar</mat-checkbox>
                                <hr>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <mat-checkbox [(ngModel)]="configuracion.notificaciones.barraProgreso"
                                    name="barraProgreso" #barraProgreso="ngModel">Barra de progreso</mat-checkbox>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <mat-form-field class="full-width input" appearance="outline">
                                    <mat-label>Tiempo de visualizacion</mat-label>
                                    <mat-icon matPrefix>alarm_add&nbsp;</mat-icon>
                                    <input type="number" [(ngModel)]="configuracion.notificaciones.tiempo" name="tiempo"
                                        #tiempo="ngModel" matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <mat-form-field class="full-width input" appearance="outline">
                                    <mat-label>Posicion</mat-label>
                                    <mat-icon matPrefix>aspect_ratio&nbsp;</mat-icon>
                                    <mat-select [(ngModel)]="configuracion.notificaciones.posicion" name="posicion"
                                        #posicion="ngModel" required>
                                        <mat-option value="toast-top-right">
                                            Arriba y a la derecha
                                        </mat-option>
                                        <mat-option value="toast-top-left">
                                            Arriba y a la izquierda
                                        </mat-option>
                                        <mat-option value="toast-bottom-right">
                                            Abajo y a la derecha
                                        </mat-option>
                                        <mat-option value="toast-bottom-left">
                                            Abajo y a la izquierda
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-6">
                                <button mat-raised-button mat-button class="btn-actualizar" color="primary"
                                    (click)="abrirToastr()">
                                    <mat-icon>play_arrow</mat-icon>
                                    Probar configuracion
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <button class="float-right" mat-raised-button mat-button class="btn-actualizar"
                                    [disabled]="!datosForm.valid" (click)="guardarConfiguracionNotificaciones()"
                                    color="primary">
                                    <mat-icon>save</mat-icon>
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-md-6">
            <mat-card class="full-width card sin-borde" style="padding: 0%;">
                <mat-toolbar class="toolbar-header">
                    <span>Datos otros</span>
                </mat-toolbar>
            </mat-card>
        </div>
        <div class="col-lg-6 col-md-6">
            <mat-card class="full-width card sin-borde" style="padding: 0%;">
                <mat-toolbar class="toolbar-header">
                    <span>Otros</span>
                </mat-toolbar>
            </mat-card>
        </div>
    </div>
</div>

