@import 'variables';

.toolbar-header {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.btn-contenedor {
  display: flex;
  align-items: center;
}

.input {
  font-size: 14px;
}

.mat-toolbar-cropper {
  height: 5%;
  background-color: #ffffff;
}

