<mat-horizontal-stepper linear #stepper>
  <mat-step label="Informacion general" [stepControl]="infoGeneralForm">
    <form #infoGeneralForm="ngForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de pila</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.nombre" #nombre="ngModel" name="nombre" matInput
                autocomplete="off" placeholder="Ingresa tu nombre "
                pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]*(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1 ]+$" required>
              <mat-error *ngIf="(nombre.invalid && (nombre.dirty || nombre.touched)) && nombre.errors.required">
                Por favor ingresa tu nombre</mat-error>
              <mat-error *ngIf="(nombre.invalid && (nombre.dirty || nombre.touched)) && nombre.errors.pattern">
                Por favor ingresa solo letras</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Apellido paterno</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.ape_pat" #ape_pat="ngModel" name="ape_pat" matInput
                autocomplete="off" placeholder="Ingresa tu apellido paterno"
                pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1 ]+$" required>

              <mat-error *ngIf="(ape_pat.invalid && (ape_pat.dirty || ape_pat.touched)) && ape_pat.errors.required">
                Por favor ingresa tu apellido paterno</mat-error>
              <mat-error *ngIf="(ape_pat.invalid && (ape_pat.dirty || ape_pat.touched)) && ape_pat.errors.pattern">
                Por favor ingresa solo letras</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Apellido materno</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.ape_mat" #ape_mat="ngModel" name="ape_mat" matInput
                autocomplete="off" placeholder="Ingresa tu apellido materno"
                pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1 ]+$">
              <mat-error *ngIf="(ape_mat.invalid && (ape_mat.dirty || ape_mat.touched)) && ape_mat.errors.pattern">
                Por favor ingresa solo letras</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <button mat-raised-button class="float-right" color="warn" matStepperNext
              [disabled]="!infoGeneralForm.valid">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Datos fiscales" [stepControl]="datosFiscalesForm">
    <form #datosFiscalesForm="ngForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h5> ¿Se necesita factura? </h5>
            <mat-slide-toggle color="primary" [(ngModel)]="conFactura" name="conFactura2" #conFactura2="ngModel"
              checked="false">{{conFactura ?  'Si' : 'No'}}
            </mat-slide-toggle>
          </div>
          <div class="col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>RFC</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.rfc" #rfc="ngModel" name="rfc" matInput autocomplete="off"
                type="text" placeholder="Ingresa tu rfc" pattern="^[a-zA-Z0-9]+$" minlength="13" maxlength="13"
                [required]="conFactura">
              <mat-error *ngIf="(rfc.invalid && (rfc.dirty || rfc.touched)) && rfc.errors.required">
                Por favor ingresa el campo RFC</mat-error>
              <mat-error *ngIf="(rfc.invalid && (rfc.dirty || rfc.touched)) && rfc.errors.pattern">
                Por favor ingresa solo letras y digitos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <button mat-raised-button class="float-left" matStepperPrevious>Atras</button>
            <button mat-raised-button class="float-right" color="warn" matStepperNext
              [disabled]="!datosFiscalesForm.valid">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Datos de contacto" [stepControl]="contactoForm">
    <form #contactoForm="ngForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Correo electronico</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.email" #email="ngModel" name="email" matInput
                autocomplete="off" type="email" placeholder="Ingresa tu correo electronico"
                pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
              <mat-error *ngIf="(email.invalid && (email.dirty || email.touched)) &&  email.errors.required">
                Por favor ingresa tu correo electronico</mat-error>
              <mat-error *ngIf="(email.invalid && (email.dirty || email.touched)) &&  email.errors.pattern">
                Por favor ingresa un formato de correo valido</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Telefono celular</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.telefono" #telefono="ngModel" name="telefono" matInput
                autocomplete="off" pattern="^[0-9]+$" placeholder="Ingresa tu telefono" minlength="10" maxlength="10"
                required>
              <mat-error *ngIf="(telefono.invalid && (telefono.dirty || telefono.touched)) && telefono.errors.required">
                Por favor ingresa tu telefono</mat-error>
              <mat-error
                *ngIf="(telefono.invalid && (telefono.dirty || telefono.touched)) && telefono.errors.minlength">
                Por favor ingresa 10 digitos</mat-error>
              <mat-error *ngIf="(telefono.invalid && (telefono.dirty || telefono.touched)) && telefono.errors.pattern">
                Por favor ingresa solo digitos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <button mat-raised-button class="float-left" matStepperPrevious>Atras</button>
            <button mat-raised-button class="float-right" color="warn" matStepperNext
              [disabled]="!contactoForm.valid">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="Domicilio" [stepControl]="domicilioForm">
    <form #domicilioForm="ngForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu estado</mat-label>
              <mat-select [(ngModel)]="estado" name="estado" #estado2="ngModel" required>
                <mat-option (click)="buscarMunicipios()" *ngFor="let estado of estados" [value]="estado">
                  {{estado.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="(estado2.invalid && (estado2.dirty || estado2.touched)) && estado2.errors.required">
                Por favor ingresa tu ciudad</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu municipio</mat-label>
              <mat-select [disabled]="!seleccionoEstado()" [(ngModel)]="cliente.municipio" #municipio2="ngModel"
                name="municipio" required>
                <mat-option *ngFor="let municipio of municipios" [value]="municipio.nombre">
                  {{municipio.nombre}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="(municipio2.invalid && (municipio2.dirty || municipio2.touched)) && municipio2.errors.required">
                Por favor ingresa tu municipio</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Codigo postal</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.cp" #cp="ngModel" type="number" name="cp" matInput
                autocomplete="off" placeholder="Ingresa tu codigo postal" required>

              <mat-error *ngIf="(cp.invalid && (cp.dirty || cp.touched)) && cp.errors.required">
                Por favor ingresa tu codigo postal</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Numero exterior</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.num_ext" #num_ext="ngModel" name="num_ext" matInput
                autocomplete="off" type="text" placeholder="Ingresa tu numero exterior" required>

              <mat-error *ngIf="(num_ext.invalid && (num_ext.dirty || num_ext.touched)) && num_ext.errors.required">
                Por favor ingresa tu numero exterior</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Numero interior</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.num_int" #num_int="ngModel" name="num_int" matInput
                autocomplete="off" type="text" placeholder="Ingresa tu numero interior">
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu calle</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.direccion" #direccion="ngModel" name="direccion" matInput
                autocomplete="off" type="text" placeholder="Direccion"
                pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d10-9 ]+$" required>
              <mat-error
                *ngIf="(direccion.invalid && (direccion.dirty || direccion.touched)) && direccion.errors.required">
                Por favor ingresa tu calle</mat-error>
              <mat-error
                *ngIf="(direccion.invalid && (direccion.dirty || direccion.touched)) && direccion.errors.pattern">
                Por favor ingresa solo letras y digitos</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu colonia</mat-label>
              <input autocomplete="off" [(ngModel)]="cliente.colonia" #colonia="ngModel" name="colonia" matInput
                autocomplete="off" type="text" placeholder="Colonia"
                pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d10-9 ]+$" required>

              <mat-error *ngIf="(colonia.invalid && (colonia.dirty || colonia.touched)) && colonia.errors.required">
                Por favor ingresa el nombre de tu colonia</mat-error>
              <mat-error *ngIf="(colonia.invalid && (colonia.dirty || colonia.touched)) && colonia.errors.pattern">
                Por favor ingresa solo letras y digitos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <button mat-raised-button class="float-left" matStepperPrevious>Atras</button>
            <button (click)="abrirRegistrarCliente()" mat-raised-button class="float-right" color="warn" matStepperNext
              [disabled]="!domicilioForm.valid">Registrar cliente</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
