<app-cargando [cargando]="cargando.cargando" [texto]="cargando.texto"></app-cargando>

<mat-sidenav-container class="contenedor">
  <mat-sidenav #sidebarCantidades class="sidebarCantidades" mode="over" [fixedInViewport]="true" [fixedTopGap]="150"
    [fixedBottomGap]="150">
    <mat-toolbar>
        <span>Detalles del pedido</span>
        <span class="espaciador"></span>
        <button class="icono-cerrar" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let producto of pedido.productos" class="col-lg-12">
          <div class="d-flex">
            <span class="detalles-productos"> {{producto.producto.nombre | titlecase}} x {{producto.cantidad}}</span>
            <span class="espaciador"></span>
            <span class="detalles-subtotal text-muted">{{(producto.precioUnitario * producto.cantidad) | currency}} MXN</span>
          </div>
          <hr class="division">
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-10">
          <div class="d-flex">
            <span class="detalles-productos">Importante</span>
            <span class="espaciador"></span>
            <span class="detalles-subtotal text-muted">{{pedido.importante ? '$30.00 MXN': '$00.00 MXN' }}</span>
          </div>
          <hr class="division">
          <div class="d-flex">
            <span class="detalles-productos">Total</span>
            <span class="espaciador"></span>
            <span class="detalles-subtotal text-muted">{{pedido.total | currency}} MXN</span>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="contenido">
    <button *ngIf="mostrarCantidades" [@carga]="'in'" mat-mini-fab class="btn-cantidades"
      (click)="sidebarCantidades.toggle()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <div class="container-fluid">
      <div class="row  mt-4">
        <div class="col-lg-5">
          <mat-card class="p-0">
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="listaProductosValida()" [completed]="listaProductosValida()">
                <form #listaProductosForm="ngForm">
                  <ng-template matStepLabel>Productos</ng-template>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-12">
                        <app-empleado-venta-tabla-productos-agregados #tablaProductos
                          [productosAgregados]="pedido.productos">
                        </app-empleado-venta-tabla-productos-agregados>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-12">
                        <button mat-raised-button color="primary" [disabled]="!listaProductosValida()"
                          (click)="obtenerTotalPedido()" matStepperNext>Siguiente</button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="detallesForm">
                <form #detallesForm="ngForm">
                  <ng-template matStepLabel>Detalles</ng-template>
                  <div class="container-fluid">
                    <div class="row">
                      <div *ngIf="pedido.c_retoque ? true: false" class="col-lg-6">
                        <mat-slide-toggle [(ngModel)]="pedido.importante" (change)="agregarCostoExtra()"
                          #importante="ngModel" name="importante">
                          {{pedido.importante ? 'Pedido urgente' : 'Pedido no urgente'}}
                        </mat-slide-toggle>
                      </div>
                      <div class="col-lg-6">
                        <mat-slide-toggle [(ngModel)]="pedido.c_adherible" #c_adherible="ngModel" name="c_adherible">
                          {{pedido.c_adherible ? 'Con adherible' : 'Sin adherible'}}
                        </mat-slide-toggle>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-6">
                        <div class="row">
                          <div class="col-lg-12">
                            <input class="d-none" type="file" accept="imagen/*" (change)="cambioArchivoEvento($event)"
                              #imagen>
                            <button mat-raised-button color="primary" (click)="imagen.click()">
                              <mat-icon>get_app</mat-icon>
                              Seleccionar imagen
                            </button>
                          </div>
                        </div>
                        <div class="row mt-4" *ngIf="imagenRecortada !== ''">
                          <div class="col-lg-12">
                            <button mat-raised-button (click)="eliminarImagen()" color="warn">Eliminar imagen</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <image-cropper *ngIf="eventoCambioImagen != ''" [imageChangedEvent]="eventoCambioImagen"
                          [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="jpg"
                          (imageCropped)="_imagenRecortada($event)" (imageLoaded)="imagenCargada()"
                          (cropperReady)="cortadorListo()" (loadImageFailed)="cargarImagenFallida()"></image-cropper>
                      </div>
                    </div>
                    <div *ngIf="!imagenValida().valido" class="row mt-4" @primerEstado>
                      <div class="col-lg-12">
                        <app-alerta tipo="error" tipo_bootstrap="danger" [mensaje]="imagenValida().mensaje">
                        </app-alerta>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-12">
                        <mat-form-field class="w-100 input" appearance="outline">
                          <mat-label>Anotar observación</mat-label>
                          <textarea matInput cols="20" rows="3" #input appearance="outline" placeholder="Observaciones"
                            [(ngModel)]="pedido.comentarios" maxlength="256" #comentarios="ngModel"
                            name="comentarios"></textarea>
                          <mat-hint align="start"><strong>Escribe las observaciones</strong>
                          </mat-hint>
                          <mat-hint align="end">{{input.value.length}} / 256</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-12">
                        <button mat-raised-button (click)="mostrarCantidades = false" class="float-left"
                          matStepperPrevious>Atras</button>
                        <button mat-raised-button class="float-right" color="primary"
                          [disabled]="!detallesForm.valid || !imagenValida().valido" matStepperNext
                          (click)="obtenerClientes()">Siguiente</button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="completarForm">
                <form #completarForm="ngForm">
                  <ng-template matStepLabel>Completar</ng-template>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field class="w-100 input" appearance="outline">
                          <mat-label>Metodo pago</mat-label>
                          <mat-select [(ngModel)]="pedido.metodoPago" name="metodoPago" #metodoPago="ngModel" required>
                            <mat-option value="efectivo">
                              Efectivo
                            </mat-option>
                            <mat-option value="tarjeta">
                              Tarjeta
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="(metodoPago.invalid && (metodoPago.dirty || metodoPago.touched) && metodoPago.errors.required)">
                            Porfavor ingresa el metodo de pago
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field class="w-100 input" appearance="outline">
                          <mat-label>Cantidad a pagar</mat-label>
                          <input matInput [(ngModel)]="pedido.anticipo" #anticipo="ngModel" type="number"
                            name="anticipo" pattern="^[0-9]+$" (keyup)="verificarCantidadAPagar()"
                            placeholder="Monto de compra" required>
                          <mat-icon matSuffix>payment</mat-icon>
                          <mat-error
                            *ngIf="(anticipo.invalid && (anticipo.dirty || anticipo.touched) && anticipo.errors.required)">
                            Por favor ingresa la cantidad a pagar
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <mat-form-field class="w-100 input" appearance="outline">
                          <mat-label>Seleccionar cliente</mat-label>
                          <input matInput placeholder="Cliente" [(ngModel)]="pedido.cliente" name="cliente"
                            [matAutocomplete]="auto" #cliente="ngModel" [required]="pedido.c_retoque">
                          <mat-error
                            *ngIf="(cliente.invalid && (cliente.dirty || cliente.touched) && cliente.errors.required)">
                            Porfavor ingresa el campo
                          </mat-error>
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarCliente">
                            <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                              {{cliente.nombre}} {{cliente.ape_pat}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="!verificarCantidadAPagar().valido" class="row" @primerEstado>
                      <div class="col-lg-12">
                        <app-alerta tipo="error" tipo_bootstrap="danger" [mensaje]="verificarCantidadAPagar().mensaje">
                        </app-alerta>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-12">
                        <button mat-raised-button class="float-left" matStepperPrevious>Atras</button>
                        <button mat-raised-button class="ml-4"
                          (click)="reiniciarFormularios(detallesForm, completarForm)" color="warn">Limpiar
                          formulario</button>
                        <button mat-raised-button color="primary" class="float-right"
                          (click)="abrirCrearPedido(detallesForm, completarForm)"
                          [disabled]="!completarForm.valid || !verificarCantidadAPagar().valido">Crear
                          pedido</button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>

          </mat-card>
        </div>
        <div class="col-lg-7 h-100" >
          <mat-card class="p-0">
            <mat-tab-group>
              <mat-tab *ngFor="let familia of familias; let i = index" [label]="familia.nombre">
                <ng-template matTabContent>
                  <div class="container-fluid mt-2 mb-2">
                    <app-empleado-venta-lista-productos #listaProductos [familia]="familia"
                      [productos]="pedido.productos" (cargandoEvento)="cargandoProductos($event)"
                      (productoAgregadoEvento)="obtenerProductoAgregado($event)">
                    </app-empleado-venta-lista-productos>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
