@import 'variables';


mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mat-radio-button {
  margin: 5px;
}



.imagen {
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.btn-img {
  margin-bottom: 5px;
}

table {
  width: 100%;
}

.productos-prueba {
  overflow: scroll;
}

.btn-productos {
  height: 60px;
  font-size: 20px;
}


.selecciona-imagen {
  background-color: rgba($color: #000000, $alpha: 0);
}
