@import 'variables';

.titulo {
  background-color: rgba($color: #000000, $alpha: 0);
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mat-radio-button {
  margin: 5px;
}

.contenedor-p {
  overflow: hidden;
}

.precio {
  font-size: 15px;
}

.precio-titulo {
  //font-size: 20px;
}

.aceptar {
  position: absolute;
  left: 0;
  margin-top: 3%;
}


.tam-productos{
  height: 60% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tam-producto{
  height: 100% !important;
}
.items {
  padding-top: 40%;
}
