<app-barra-cargando [cargando]="cargando"></app-barra-cargando>
<div class="container-fluid w-100 mt-4">
      <form #bajaInsumoForm="ngForm">
        <div class="row">
          <div class="col-lg-12">
            <h4>Realizar baja de insumo</h4>
            <hr>
          </div>
          <div class="col-lg-12">
            <mat-form-field appearance="outline" class="full-width input">
              <mat-label>Seleccionar almacen </mat-label>
              <mat-select [(ngModel)]="almacen" name="almacen1" #almacen1="ngModel" (ngModelChange)="obtenerAlmacen()"
                required>
                <mat-option *ngFor="let almacen of almacenes" [value]="almacen">
                  {{almacen.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="(almacen1.invalid && (almacen1.dirty || almacen1.touched) && almacen1.errors.required)">
                Por favor seleccione un almacen
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="almacen && insumosAlmacen.length == 0 && !cargando">
          <div class="col-lg-12">
            <div class="w-100 alert fondo-info">No hay insumos registrados para este almacen</div>
          </div>
        </div>
        <div class="row" *ngIf="insumosAlmacen.length > 0">
          <div class="col-md-6 col-12">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>Buscar insumo</mat-label>
              <input matInput [(ngModel)]="busquedaElemento" name="buscarElemento1" #buscarElemento1="ngModel"
                placeholder="Buscar por nombre" (keyup)="aplicarFiltroBusqueda()" autocomplete="off">
              <button *ngIf="busquedaElemento" [disabled]="insumosAlmacen.length == 0" (click)="borrarBusqueda()"
                mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-12">
            <mat-form-field appearance="outline" class="full-width input">
              <mat-label>Seleccionar insumo</mat-label>
              <mat-select [(ngModel)]="movimiento.insumo" name="movimientoInsumo" #movimientoInsumo="ngModel"
                (ngModelChange)="inicializarDatosInsumo()" required>
                <mat-option *ngFor="let insumoAlmacenFiltrado of insumosAlmacenFiltrados"
                  [value]="insumoAlmacenFiltrado.insumo">
                  {{insumoAlmacenFiltrado.insumo.nombre}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="(movimientoInsumo.invalid && (movimientoInsumo.dirty || movimientoInsumo.touched) && movimientoInsumo.errors.required)">
                Por favor seleccione un producto
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="movimiento.insumo && existenciaActual == 0">
          <div class="col-lg-12">
            <div class="w-100 alert fondo-info">Este insumo tiene una existencia de 0 por lo que no se puede realizar
              ninguna baja</div>
          </div>
        </div>
        <div class="row" *ngIf="movimiento.insumo && existenciaActual > 0">
            <div class="col-sm-4 col-lg-5 col-12">
                <mat-form-field class="full-width input" appearance="outline">
                  <mat-label>Cantidad en existencia</mat-label>
                  <input matInput [(ngModel)]="existenciaActual" name="existenciaActual1" #existenciaActual1="ngModel" disabled>
                </mat-form-field>
              </div>
          <div class="col-sm-4 col-lg-5 col-12">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>Cantidad a rebajar</mat-label>
              <input matInput [(ngModel)]="movimiento.cantidadMovimiento" name="movimientoCantidadMovimiento" disabled
                #movimientoCantidadMovimiento="ngModel">
            </mat-form-field>
          </div>
          <div class="col-sm-2 col-lg-1 col-6 d-flex align-items-center justify-content-center">
            <button mat-icon-button class="success" (click)="aumentarBaja()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-sm-2 col-lg-1 col-6 d-flex align-items-center justify-content-center">
            <button mat-icon-button class="danger" (click)="disminuirBaja()">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
        <div class="row" [hidden]="insumosAlmacen.length == 0 || !movimiento.insumo || existenciaActual == 0">
          <div class="col-12">
            <mat-form-field class="full-width input" appearance="outline">
              <mat-label>Observaciones</mat-label>
              <input matInput type="text" [(ngModel)]="movimiento.observaciones" #movimientoObservaciones="ngModel"
                name="movimientoObservaciones" required>
              <mat-error
                *ngIf="(movimientoObservaciones.invalid && (movimientoObservaciones.dirty || movimientoObservaciones.touched)) && movimientoObservaciones.errors.required">
                Por favor ingrese el motivo de la baja de la exitencia
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button mat-raised-button class="float-right p-2"
              [disabled]="bajaInsumoForm.invalid || cargando"
              (click)="actualizarInsumoAlmacen()" color="primary">Baja de insumo</button>
          </div>
        </div>
      </form>
</div>
