<h3 mat-dialog-title>Cotizacion</h3>
<mat-dialog-content>
  <div #cotizacionPdf>
    <div class="container mb-4">
      <div class="row mt-2">
        <div class="col-lg-6 text-center">
          <img class="rounded img-fluid" height="250" width="250"
            src="../../../../assets/imagenes/LOGO ESTUDIO FOTOGRAFICO copia.png" alt="">
        </div>
        <div class="col-lg-6 text-center">
          <h3>Encargado sucursal</h3>
          <h6>Rfc encargado</h6>
          <span>Direccion de sucursal</span> <br>
          <span>Ciudad de sucursal</span> <br>
          <span>Tel. Telefono sucursal</span> <br>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-3 division">
                <div class="card-body">
                  <p class="text-rigth">
                    <span class="campos">Empresa</span> <br>
                    <span class="campos">Direccion</span> <br>
                    <span class="campos">Contacto</span> <br>
                    <span class="campos">Tel.</span> <br>
                    <span class="campos">E-mail</span> <br>
                  </p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <p>
                    <span class="camposLlenos">{{cotizacion.empresa.nombre}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.empresa.direccion}}</span>
                    <br>
                    <span class="camposLlenos">{{cotizacion.empresa.contacto}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.empresa.telefono}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.empresa.email}}</span> <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-3 division">
                <div class="card-body">
                  <p>
                    <span class="campos">Cotización</span> <br>
                    <span class="campos">Fecha</span> <br>
                    <span class="campos">Vigencia</span> <br>
                    <span class="campos">Asesor</span> <br>
                    <span class="campos">E-mail</span> <br>
                  </p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <p>
                    <span class="camposLlenos">UTR-{{cotizacion.num_cotizacion}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.fecha | formatoFecha:2}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.vigencia}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.asesor.nombre}}
                      {{cotizacion.asesor.ape_pat}}</span> <br>
                    <span class="camposLlenos">{{cotizacion.asesor.email}}</span> <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-12" *ngIf="cotizacion.productos.length > 0">
          <mat-table [dataSource]="listData" style="width: 100%;">
            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.cantidad}}</mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <mat-header-cell class="descripcion" *matHeaderCellDef>Descripcion</mat-header-cell>
              <mat-cell class="descripcion" *matCellDef="let element">{{element.producto.descripcion}}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="precio">
              <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
              <mat-cell *matCellDef="let element">${{element.producto.precio}}</mat-cell>
              <mat-footer-cell *matFooterCellDef>Subtotal</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="subtotal">
              <mat-header-cell *matHeaderCellDef>Subtotal</mat-header-cell>
              <mat-cell *matCellDef="let element">${{obtenerSubtotalPorProducto(element)}}</mat-cell>
              <mat-footer-cell *matFooterCellDef>${{cotizacion.subtotal}}</mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <span class="campos2">FECHA TENTATIVA DEL EVENTO: </span> <span class="camposLlenos2"
            *ngIf="cotizacion.fecha_evento">{{cotizacion.fecha_evento | formatoFecha:2}}</span> <span
            class="camposLlenos2" *ngIf="!cotizacion.fecha_evento">Sin fecha designada</span> <br>
          <span class="campos2">FECHA DE ENTREGA: </span> <span
            class="camposLlenos2">{{cotizacion.fecha_entrega | formatoFecha:2}}</span> <br>
          <span class="campos2">FORMA DE PAGO: </span> <span class="camposLlenos2"
            *ngIf="cotizacion.forma_pago">{{cotizacion.forma_pago}}</span> <span class="camposLlenos2"
            *ngIf="!cotizacion.forma_pago">Sin forma de pago establecida.</span>
        </div>
        <div class="col-lg-6">
          <span class="campos2">I.V.A: </span> <span class="camposLlenos2">${{cotizacion.iva}}</span> <br>
          <span class="campos2">Total: </span> <span class="camposLlenos2">${{cotizacion.total}}</span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12 text-center">
          <h6 class="atte">ATENTAMENTE</h6>
          <br>
          <span>{{cotizacion.asesor.nombre}} {{cotizacion.asesor.ape_pat}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" style="padding:0">
          <img class="rounded img-fluid" src="../../../../assets/imagenes/footer-editado.png" alt="">
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="descargarCotizacion(cotizacion.num_cotizacion)" color="primary">Descargar</button>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
