<mat-card class="container mb-4">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Administrar">
            <ng-template matTabContent>
                <app-caja-detalles></app-caja-detalles>
            </ng-template>
        </mat-tab>
        <mat-tab label="Restaurar">
            <ng-template matTabContent>
                <app-caja-restaurar></app-caja-restaurar>
            </ng-template>
        </mat-tab>
        <mat-tab label="Cortes de caja">
            <ng-template matTabContent>
                <app-caja-corte-caja></app-caja-corte-caja>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>