<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidebar" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="mt-4">
      <mat-list-item class="mx-auto mb-1" [matMenuTriggerFor]="menuPerfil">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h5 mat-line>{{obtenerNombreUsuario() | titlecase}}</h5>
        <mat-icon>expand_more</mat-icon>
      </mat-list-item>
      <mat-menu #menuPerfil="matMenu">
        <button (click)="activarModuloActivo('Perfil')" [routerLink]="['/usuario/perfil']"
          routerLinkActive="router-link-active" class="mx-auto" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Perfil personal</span>
        </button>
        <button class="mx-auto mb-1 mt-1" mat-menu-item>
          <mat-icon>create</mat-icon>
          <span>Editar perfil</span>
        </button>
        <button class="mx-auto" (click)="cerrarSesion()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesion</span>
        </button>
      </mat-menu>
    </mat-nav-list>
    <hr>
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of menus; let i=index" class="mx-auto mb-1"
        (click)="activarPestana(i, menu.nombre)" [ngClass]="{'menu-seleccionado':pestanasActivas[i] == true }"
        [routerLink]="menu.ruta">
        <mat-icon mat-list-icon>{{menu.icono}}</mat-icon>
        <h5 mat-line>{{menu.nombre}}</h5>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'sin-scroll': ocultarNavbar()}">
    <div [@openClose]="navbarAbierto ? 'open' : 'closed'" color="primary" class="navbar">
      <button mat-mini-fab class="btn-toggle" aria-label="Toggle sidenav" (click)="drawer.toggle()">
        <mat-icon [@rotacion]="drawer.opened ? 'rotado' : 'inicial' ">{{drawer.opened ? 'more_vert' : 'view_list'}}
        </mat-icon>
      </button>
      <span style="color: #555;">{{moduloActual}}</span>
      <span class="espaciador"></span>
      <app-empleado-notificaciones *ngIf="!esRecepcionista()"></app-empleado-notificaciones>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-nav" color="primary" matTooltip="Temas">
        <mat-icon>palette</mat-icon>
      </button>
      <mat-menu #menu="matMenu" style="padding: 1;">
        <button mat-menu-item class="dot mr-4 ml-2" (click)="cambiarTema('default')"></button>
        <button mat-menu-item class="dot-rojo mr-2" (click)="cambiarTema('tema-rojo')"></button> <br>
        <button mat-menu-item class="dot-azul mr-4 ml-2" (click)="cambiarTema('tema-azul')"></button>
        <button mat-menu-item class="dot-verde mr-2" (click)="cambiarTema('tema-verde')"></button>
      </mat-menu>
      <button class="iconos" mat-icon-button class="btn-nav" color="primary" matTooltip="Ayuda">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button class="iconos" mat-icon-button class="btn-nav" color="primary" (click)="cerrarSesion()"
        matTooltip="Cerrar sesion">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <button *ngIf="ocultarNavbar()" mat-mini-fab color="primary" class="btn-toolbar" (click)="toggleNavbar()">
      <mat-icon [@rotacion]="navbarAbierto ? 'rotado' : 'inicial' ">arrow_downward</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
