.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 265px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999999999999999;
  -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.59);
}

.iconos{
  color:#ffff;
}

.btn-toolbar{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 1.2%;
  left: 0;
  z-index: 2;
  &:hover {
    -webkit-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
    -moz-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
    box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
  }
}

.sin-scroll{
  overflow: hidden;
}


.navbar {
  background: inherit;
  display: flex;

  .btn-toggle {
    z-index: 0;
    background-color: #ffffff;
    color: #555;
    margin-right: 2%;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -ms-transition: all 100ms linear;

    &:hover {
      -webkit-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      -moz-box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
      box-shadow: -1px 0px 13px 3px rgba(#555, 0.75);
    }
  }

  .btn-nav {
    visibility: visible;
    color: #555;
  }
}