@import 'variables';


@mixin botones {
  .btn-exito {
    color: #ffffff;
    background-color: $success;
    outline: none;
  }

  .btn-error {
    color: #ffffff;
    background-color: $danger;
    outline: none;
  }

  .btn-info {
    color: #ffffff;
    background-color: $info;
    outline: none;
  }

  .btn-advertencia {
    color: #ffffff;
    background-color: $warn;
    outline: none;
  }
  .btn-titulo {
    border-radius: 5px;
    text-align: start;
    height: 60px;
    position: absolute;
    top: 0;
    margin-top: -3%;
    outline: none;
  
    h5 {
      font-weight: 300;
      line-height: 1.4em;
    }
  }
}
