@import 'variables';

@mixin iconos {
  .icono-exito {
    color: #ffffff;
    background-color: $success;
  }

  .icono-error {
    color: #ffffff;
    background-color: $danger;

  }

  .icono-info {
    color: #ffffff;
    background-color: $info;

  }

  .icono-advertencia {
    color: #ffffff;
    background-color: $warn;
  }

  .icono-estado-activo {
    font-size: 14px;
    color: $success;
  }

  .icono-estado-inactivo {
    font-size: 14px;
    color: $danger;
  }

  .icono-cerrar {
    color: $danger;
    cursor: pointer;
  }

  .icono-error-contorno {
    color: $danger;
    cursor: pointer;
  }

  .icono-exito-contorno {
    color: $success;
    cursor: pointer;
  }

  .icono-advertencia-contorno {
    color: $warn;
    cursor: pointer;
  }

  .icono-info-contorno {
    color: $info;
    cursor: pointer;
  }
}
