.cargando {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1000000000000000000000000000000;
  align-items: center;

  .contenido {
    margin-top: 10%;
    .spinner{
      margin: auto;
    }

    h3, .spinner {
      z-index: 100000;
      color: #ffffff;
      text-align: center;
    }
  }

}
