<app-encabezado-titulo titulo="Sucursales"></app-encabezado-titulo>
<mat-tab-group>
    <mat-tab label="Ver sucursales">
        <ng-template matTabContent>
            <app-ver-sucursales></app-ver-sucursales>
        </ng-template>
    </mat-tab>
    <mat-tab label="Agregar sucursal">
        <ng-template matTabContent>
            <app-agregar-sucursal></app-agregar-sucursal>
        </ng-template>
    </mat-tab> 
    <mat-tab label="Editar sucursal">
        <ng-template matTabContent>
            <app-editar-sucursal></app-editar-sucursal>
        </ng-template>
    </mat-tab>
    <mat-tab label="Eliminar sucursal">
        <ng-template matTabContent>
            <app-eliminar-sucursal></app-eliminar-sucursal>
        </ng-template>
    </mat-tab>
    <mat-tab label="Restaurar sucursal">
        <ng-template matTabContent>
            <app-restaurar-sucursal></app-restaurar-sucursal>
        </ng-template>
    </mat-tab>
</mat-tab-group>