
@import '~@angular/material/theming';
@import 'variables';
@include mat-core();
@import 'temas/naranja';

//TEMA 1
$cliente-primary: mat-palette($mat-indigo, 700);
$cliente-accent: mat-palette($mat-yellow, 600);
$cliente-warn: mat-palette($mat-red);
$cliente-theme: mat-light-theme($cliente-primary, $cliente-accent, $cliente-warn);
//tema rojo
$cliente2-primary: mat-palette($mat-red, 800);
$cliente2-accent: mat-palette($mat-yellow, 700);
$cliente2-warn: mat-palette($mat-red, A700);
$cliente2-theme: mat-light-theme($cliente2-primary, $cliente2-accent, $cliente2-warn);
//tema azul
$cliente3-primary: mat-palette($mat-blue-grey);
$cliente3-accent: mat-palette($mat-pink, 500, 900, A100);
$cliente3-warn: mat-palette($mat-deep-orange);
$cliente3-theme: mat-light-theme($cliente3-primary, $cliente3-accent, $cliente3-warn);
//tema verde
$cliente4-primary: mat-palette($mat-green, 800);
$cliente4-accent: mat-palette($mat-yellow, 600);
$cliente4-warn: mat-palette($mat-red);
$cliente4-theme: mat-light-theme($cliente4-primary, $cliente4-accent, $cliente4-warn);

.dot {
  height: 40px !important;
  width: 40px !important;
  background-color: $primary !important;
  border-radius: 50% !important;
  display: inline-block !important;
}

.dot-azul {
  height: 40px !important;
  width: 40px !important;
  background-color: $azul !important;
  border-radius: 50% !important;
  display: inline-block !important;
}

.dot-rojo {
  height: 40px !important;
  width: 40px !important;
  background-color: $rojo !important;
  border-radius: 50% !important;
  display: inline-block !important;
}

.dot-verde {
  height: 40px !important;
  width: 40px !important;
  background-color: $verde !important;
  border-radius: 50% !important;
  display: inline-block !important;
}

.default {
  @include angular-material-theme($cliente-theme);

  //scrollbar
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 5px;
  }
}

.tema-rojo {
  @include tema-naranja;
}

.tema-azul {
  @include angular-material-theme($cliente3-theme);

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $azul;
    border-radius: 5px;
  }
}

.tema-verde {
  @include angular-material-theme($cliente4-theme);

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $verde;
    border-radius: 5px;
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  overflow-y: hidden;
}

.sin-borde {
  border-radius: 0% !important;
}

.margin-top {
  margin-top: 40px !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.toast-success {
  background-color: $success !important;
}

.toast-error {
  background-color: $danger !important;
}

.toast-info {
  background-color: $info !important;
}

.toast-warning {
  background-color: $warn !important;
}

.espaciador {
  flex: 1 1 auto !important;
}

.input {
  font-size: 14px;
}

.margen-contenedor {
  margin: 10px 10px !important;
}



//no mostrar
.hide {
  display: none;
}

//cotizaciones
.division {
  border-right: 0.3px solid $light-gray-color;
}

//alertas
.alerta {
  background-color: rgba($color: $warn, $alpha: 0.5);
}

.alerta-info {
  background-color: rgba($color: $info, $alpha: 0.5);
}

.alerta-error {
  background-color: rgba($color: $danger, $alpha: 0.5);
}

.alerta-exito {
  background-color: rgba($color: $success, $alpha: 0.5);
}
