
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'variables';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
//TEMA 1
$cliente-primary: mat-palette($mat-indigo, 700);
$cliente-accent: mat-palette($mat-yellow, 600);
$cliente-warn: mat-palette($mat-red);
$cliente-theme: mat-light-theme($cliente-primary, $cliente-accent, $cliente-warn);
//TEMA 2
$cliente2-primary: mat-palette($mat-red, 800);
$cliente2-accent: mat-palette($mat-yellow, 600);
$cliente2-warn: mat-palette($mat-red);
$cliente2-theme: mat-light-theme($cliente2-primary, $cliente2-accent, $cliente2-warn);

 .tema-prueba{
  @include angular-material-theme($cliente-theme);
 }
 .tema-prueba2{
  @include angular-material-theme($cliente2-theme);

 }
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;  overflow-y: hidden; }
.sin-borde{
    border-radius: 0% !important;
}
.margin-top{
    margin-top: 40px !important;
}
.full-width{
    width: 100% !important;
}
.full-height{
    height:  100% !important;
}
.toast-success {
    background-color: #5cb85c !important;
  }
  .toast-error {
    background-color: #d9534f !important;
  }
  .toast-info {
    background-color: #5bc0de !important;
  }
  .toast-warning {
    background-color: #f0ad4e !important;
  }
.espaciador {
    flex: 1 1 auto !important;
  }
.input{
  font-size: 14px;
}
.margen-contenedor{
    margin: 10px 10px !important;
}

//scrollbar
*::-webkit-scrollbar{
  width: 4px;
}
*::-webkit-scrollbar-thumb{
  background-color: $primary;
  border-radius: 5px;
}

//no mostrar
.hide{
  display: none;
}
mat-card{
  border-radius: 0%;
}
//cotizaciones
.division{
  border-right: 0.3px solid $light-gray-color;
}
//alertas
.alerta{
  background-color: rgba($color: $warn, $alpha: 0.5);
}
.alerta-info{
  background-color: rgba($color: $info, $alpha: 0.5);
}
.alerta-error{
  background-color: rgba($color: $danger, $alpha: 0.5);
}
.alerta-exito{
  background-color: rgba($color: $success, $alpha: 0.5);
}