@import 'variables';

.item {
  transition: all 150ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}

.foto {
  height: 80px;
  width: 80px;
}

.pedido-proximo {
  border-right: 5px solid $warn;
}

.pedido-no-proximo {
  border-right: 5px solid $success;
}

.pedido-expirado {
  border-right: 8px solid $danger;
  animation: pulso 1.5s infinite;
}

.fecha-entrega {
  font-weight: 500;
}

@keyframes pulso {
  0% {
    box-shadow: 0 0 0 0 rgba($danger, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($danger, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($danger, 0);
  }
}
