<div class="container">
    <div class="row mt-4">
        <div class="col-lg-7">
            <app-root-empresa-seccion-datos-generales></app-root-empresa-seccion-datos-generales>
        </div>
        <div class="col-lg-5">
            <app-root-empresa-seccion-logo></app-root-empresa-seccion-logo>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-lg-6">
            <app-root-empresa-seccion-direccion></app-root-empresa-seccion-direccion>
        </div>
        <div class="col-lg-6">
            <app-root-empresa-seccion-contacto></app-root-empresa-seccion-contacto>
        </div>
    </div>
    <div class="row mt-4 mb-4">  
        <div class="col-lg-12">
            <app-root-empresa-seccion-facturacion></app-root-empresa-seccion-facturacion>
        </div>
    </div>
</div>